[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/farcaster-solidity"]
	path = lib/farcaster-solidity
	url = https://github.com/pavlovdog/farcaster-solidity
